*.o
*.lo
*.la
*~
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing

# /
/Makefile.in
/configure
/config.log
/config.status
/libtool
/autom4te.cache
/Makefile
/aclocal.m4
/build-stamp
/depcomp
/compile
/ltmain.sh
/missing
/install-sh
/config.guess
/config.sub

# debian
/debian/awds
/debian/awds-dev
/debian/tmp

# doc

# ns2-scripts
/ns2-scripts/*.gz

# scripts
/scripts/Makefile.in
/scripts/Makefile

# src
/src/Makefile.in
/src/*.gz
/src/.libs
/src/.deps
/src/log
/src/Makefile
/src/out.ifx
/src/out2.ifx
/src/*.svg
/src/*.dot
/src/trisearch
/src/*log

# src/awds

# src/awds/ext

# src/crypto
/src/crypto/Makefile
/src/crypto/Makefile.in
/src/crypto/crypto_test
/src/crypto/.deps/
/src/crypto/.deps

# src/crypto/gladman
CMakeCache.txt
